**/[Bb]in/
**/[Oo]bj/

*.user
*.userosscache
*.suo
*.cache
*.docstates

[Pp]ublish/
publish/

# NuGet
*.nupkg
*.snupkg
nuget.exe
.nuget/

BenchmarkDotNet.Artifacts/
[Bb]enchmarkDotNet/
artifacts/

.vs/
*.sln.ide
*.csproj.user
*.sln.docstates

Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride

*~

*.log
*.tmp
*.temp